Repository ModischFabrications/CutSolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: git_tag, tests

git_tag:
  name: tag git version
  description: tag git version if it's outdated
  pass_filenames: false
  verbose: true
  entry: python tag_from_version.py
  language: system
  stages:
  - commit

tests:
  name: run tests
  description: Run pytest
  pass_filenames: false
  entry: python -m pytest -sv
  language: system
  stages:
  - push

fix dockerfile and ci
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix ci (again)
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

refine readme, add local image, add git lfs
  .gitattributes
  .github/workflows/ci.yml
  README.md
  docs/CutSolver.svg
Due: none

use relative link for readme svg
  README.md
Due: none

fix naming of svg
  docs/cutsolver.svg
Due: none

use png for now, can't get svg working
  README.md
  docs/cutsolver.png
Due: none

remove png again
  docs/cutsolver.png
Due: none

implement autobuild for #44
  .github/workflows/ci.yml
Due: none

fix pre-commit, fix ci with master push missing metadata
  .github/workflows/ci.yml
  README.md
Due: none

re-enable packages permission
  .github/workflows/ci.yml
Due: none

quiet pipenv
  .github/workflows/ci.yml
  Dockerfile
Due: none

fetch description, fix repo name
  .github/workflows/ci.yml
Due: none

fix pipenv lock, ci: use docker token
  .github/workflows/ci.yml
  Dockerfile
Due: none

add ci caching and extend compose with frontend
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

replace flaky httpie with basic curl, extend readme, create version v0.5.1
  Dockerfile
  README.md
  app/main.py
Due: git_tag, tests

reduce health check interval, dump github context to check for possible solutions to #56
  .github/workflows/ci.yml
  Dockerfile
Due: none

try to build & push on tags, filtered to main branch only; [skip ci]
  .github/workflows/ci.yml
  README.md
Due: none

print version to log on startup, track shutdown, v0.5.2
  app/main.py
Due: git_tag, tests

use Entrypoint instead of CMD to allow extending with root path, remove dump from ci, use relative links on start page
  .github/workflows/ci.yml
  Dockerfile
  app/main.py
Due: git_tag, tests

extract and print constants, disable gapfill, closes #29
  app/constants.py
  app/main.py
  app/solver/solver.py
  tag_from_version.py
Due: git_tag, tests

refine texts
  app/main.py
  app/solver/data/Job.py
Due: git_tag, tests

v0.5.3
  app/constants.py
Due: tests

exclude files from docker builds
  .dockerignore
Due: none

cleanup readme with absolute paths and better badges
  README.md
Due: none

Upgrade dependencies
  Pipfile
  Pipfile.lock
Due: none

fix deprectaed method names
  tests/test_utils.py
Due: tests

Update test fixtures
  tests/res/in/testjob.json
  tests/res/out/testresult.json
Due: none

Refactor Job to take a length and a name as input
  app/solver/data/Job.py
  tests/solver/data/test_Job.py
Due: tests

Refactor Result to output langth and name
  app/solver/data/Result.py
  tests/solver/data/test_Result.py
Due: tests

Refactor json tests
  tests/solver/data/test_json.py
Due: tests

Refactor Solver to work with lengths and names
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

Replace on_event with lifespan events
  app/main.py
Due: git_tag, tests

Refactor tests for main
  tests/test_main.py
Due: git_tag, tests

Update Dockefile to use Python 3.12
  Dockerfile
Due: none

refactored ffd solver to use size and name
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

homogenize py version to 3.11
  Dockerfile
Due: none

Update ci.yml py to 3.11
  .github/workflows/ci.yml
Due: none

Path conditions:
  git_tag: any of: main.py and \.py$
  tests: any of: \.py$
