Repository ModischFabrications/CutSolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: git_tag, tests

git_tag:
  name: tag git version
  description: tag git version if it's outdated
  pass_filenames: false
  verbose: true
  entry: python tag_from_version.py
  language: system
  stages:
  - commit

tests:
  name: run tests
  description: Run pytest
  pass_filenames: false
  entry: python -m pytest -sv
  language: system
  stages:
  - push

fix deprectaed method names
  tests/test_utils.py
Due: tests

Refactor json tests
  tests/solver/data/test_json.py
Due: tests

Update ci.yml py to 3.11
  .github/workflows/ci.yml
Due: none

Update test fixtures
  tests/res/in/testjob.json
  tests/res/out/testresult.json
Due: none

Refactor tests for main
  tests/test_main.py
Due: git_tag, tests

Update Dockefile to use Python 3.12
  Dockerfile
Due: none

refactored ffd solver to use size and name
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

Refactor Result to output langth and name
  app/solver/data/Result.py
  tests/solver/data/test_Result.py
Due: tests

Replace on_event with lifespan events
  app/main.py
Due: git_tag, tests

Upgrade dependencies
  Pipfile
  Pipfile.lock
Due: none

homogenize py version to 3.11
  Dockerfile
Due: none

Refactor Solver to work with lengths and names
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

update to v1.0.0, compress svg
  app/constants.py
  docs/cutsolver.svg
Due: tests

update ci to newer version
  .github/workflows/ci.yml
Due: none

remove obsolete ci checks
  .github/workflows/ci.yml
Due: none

fix version
  .github/workflows/ci.yml
Due: none

Fix url to Logo in Readme
  README.md
Due: none

fix master to main links
  .github/workflows/ci.yml
  README.md
Due: none

cleanup tests with fixtures and new cases; create tests for #63, #64, #59
  tests/res/in/testjob_cuts.json
  tests/res/in/testjob_equal.json
  tests/res/in/testjob_l.json
  tests/res/in/testjob_m.json
  tests/res/in/testjob_s.json
  tests/res/in/testjob_zero_cuts.json
  tests/res/out/testresult_s.json
  tests/solver/data/test_Job.py
  tests/solver/data/test_Result.py
  tests/solver/data/test_json.py
  tests/solver/test_large.py
  tests/solver/test_solver.py
  tests/solver/test_special.py
  tests/test_fixtures.py
  tests/test_main.py
  tests/test_utils.py
Due: git_tag, tests

force sorting after solvers to homogenize results
  app/solver/data/Result.py
  app/solver/solver.py
  tests/solver/test_large.py
Due: tests

re-enable special tests, fix brute force stock usage; closes #63, closes #64
  app/solver/solver.py
  tests/solver/test_special.py
Due: tests

simplify solver tests, also test by trimmings, create and test combined trimmings
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

update dependencies, update readme
  Pipfile
  Pipfile.lock
  README.md
Due: none

fix #59
  app/constants.py
  app/solver/solver.py
  tests/solver/test_special.py
Due: tests

split utils from solver, extend and streamline main tests, remove invalid model validations
  README.md
  app/main.py
  app/solver/data/Result.py
  app/solver/solver.py
  app/solver/utils.py
  tests/solver/test_large.py
  tests/solver/test_solver.py
  tests/solver/test_utils.py
  tests/test_main.py
Due: git_tag, tests

add test for distribute, skip factorial if too large
  app/solver/data/Job.py
  tests/solver/test_solver.py
Due: tests

use pydantic settings block, extend docker compose, log routes and settings during startup; closes #69
  Pipfile
  Pipfile.lock
  README.md
  app/constants.py
  app/main.py
  app/settings.py
  app/solver/solver.py
  docker-compose.yml
  tag_from_version.py
Due: git_tag, tests

run pipenv via python -m to implicitly collect; not nice but working
  .github/workflows/ci.yml
  README.md
Due: none

add coverage tool for #44
  Pipfile
  Pipfile.lock
  README.md
Due: none

add test cases for #52
  tests/res/in/testjob_multi.json
  tests/res/out/testresult_multi.json
Due: none

add mypy, remove outdated manual json tests, update test json
  Pipfile
  Pipfile.lock
  README.md
  tests/res/out/testresult_multi.json
  tests/solver/data/test_Job.py
  tests/solver/data/test_json.py
Due: tests

Path conditions:
  git_tag: any of: main.py and \.py$
  tests: any of: \.py$
