Repository ModischFabrications/CutSolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: git_tag, tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      # https://blog.mphomphego.co.za/blog/2019/10/03/Why-you-need-to-stop-using-Git-Hooks.html
      - id: check-ast
        name: check-ast
        description: Simply check whether files parse as valid python.
      - id: check-builtin-literals
        name: check-builtin-literals
        description: Require literal syntax when initializing empty,
          or zero Python builtin types.
      - id: check-docstring-first
        name: check-docstring-first
        description: Checks for a common error of placing code before the docstring.
      - id: check-added-large-files
        name: check-added-large-files
        description: Prevent giant files from being committed.
      - id: check-merge-conflict
        name: check-merge-conflict
        description: Check for files that contain merge conflict strings.
      - id: check-symlinks
        name: check-symlinks
        description: Checks for symlinks which do not point to anything.
      - id: check-yaml
        name: check-yaml
        description: Attempts to load all yaml files to verify syntax.
      - id: check-toml
        name: check-toml
        description: Attempts to load all TOML files to verify syntax.
      - id: debug-statements
        name: debug-statements
        description: Check for debugger imports and py37+ breakpoint() calls in python source.
      - id: detect-private-key
        name: detect-private-key
        description: Checks for the existence of private keys.
      - id: end-of-file-fixer
        name: end-of-file-fixer
        description: Makes sure files end in a newline and only a newline.
      - id: trailing-whitespace
        name: trailing-whitespace
        description: Trims trailing whitespace
      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        description: Sorts entries in requirements.txt

      #bandit, vulture?

  - repo: local
    hooks:
      - id: git_tag
        name: tag git version
        description: tag git version if it's outdated
        pass_filenames: false
        verbose: true
        entry: python tag_from_version.py
        language: system
        # git version check only needed if version could have changed
        files: main.py
        types: [python]
        stages: [commit]

      - id: tests
        name: run tests
        description: Run pytest
        # don't run for every file, always full execution (with default filters to skip untestable files)
        pass_filenames: false
        entry: python -m pytest -sv
        language: system
        types: [python]
        stages: [push]

add mypy and update pre-commit checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

update v1.0.2
  app/settings.py
Due: tests

very broken WIP of #52, only test_multi and utils is currently running
  README.md
  app/main.py
  app/solver/data/Job.py
  app/solver/data/Result.py
  app/solver/solver.py
  app/solver/utils.py
  tests/solver/test_multi.py
  tests/solver/test_utils.py
Due: git_tag, tests

add more efficient permutations
  Pipfile
  Pipfile.lock
  README.md
Due: none

implement bruteforce solver for multis, use more efficient permutations, simplify testjob multi, test more cases, migrate test large for benchmarking, simplify typing
  app/solver/data/Job.py
  app/solver/data/Result.py
  app/solver/solver.py
  app/solver/utils.py
  tests/res/in/testjob_multi.json
  tests/res/out/testresult_multi.json
  tests/solver/test_large.py
  tests/solver/test_multi.py
Due: tests

simplify types further
  app/solver/data/Job.py
  app/solver/data/Result.py
  app/solver/solver.py
  app/solver/utils.py
  tests/solver/test_large.py
  tests/solver/test_multi.py
Due: tests

update testjob_s.json and result, fix a lot of the remaining tests; impl of multi FFD & gapfill still missing
  app/solver/solver.py
  app/solver/utils.py
  tests/res/in/testjob_s.json
  tests/res/out/testresult_s.json
  tests/solver/data/test_Job.py
  tests/solver/data/test_Result.py
  tests/solver/test_solver.py
  tests/solver/test_special.py
  tests/solver/test_utils.py
Due: tests

migrate remaining tests, cleanup warnings
  app/solver/data/Job.py
  app/solver/solver.py
  tests/solver/data/test_Job.py
  tests/solver/data/test_Result.py
  tests/solver/test_large.py
  tests/solver/test_solver.py
Due: tests

use conftest for fixtures, fixing all flake8 warnings
  tests/conftest.py
  tests/solver/data/test_Job.py
  tests/solver/data/test_Result.py
  tests/solver/test_multi.py
  tests/solver/test_solver.py
  tests/test_main.py
Due: git_tag, tests

cleanup notes, promote to v1.0.2
  README.md
  app/main.py
  app/settings.py
Due: git_tag, tests

fix invalid use of validator in optional field
  README.md
  app/solver/data/Job.py
Due: tests

test for ignored and infinite stocks, improve repr of NS, validate ResultEntry cuts
  app/solver/data/Job.py
  app/solver/data/Result.py
  app/solver/solver.py
  app/solver/utils.py
  tests/solver/data/test_Result.py
  tests/solver/test_large.py
  tests/solver/test_solver.py
  tests/solver/test_special.py
Due: tests

test and allow for smaller cuts, improve errors
  app/solver/data/Job.py
  app/solver/data/Result.py
  app/solver/utils.py
  tests/solver/test_special.py
Due: tests

simplify bruteforce, skip irrelevant stocks in job, clarify test multi m, test for sequence of big and small
  app/solver/data/Job.py
  app/solver/solver.py
  tests/solver/test_large.py
  tests/solver/test_special.py
Due: tests

make pytest raise tests more specific, point mypy and flake8 to specific directories
  .github/workflows/ci.yml
  tests/solver/data/test_Job.py
  tests/solver/data/test_Result.py
  tests/test_main.py
Due: git_tag, tests

rework solver, close to working, just ignore_stocks fails
  app/solver/solver.py
Due: tests

simplified bruteforce
  app/solver/solver.py
Due: tests

add repr of QNS, add TODOs, add broken job iteration test
  app/solver/data/Job.py
  tests/solver/data/test_Job.py
Due: tests

fix overflowing infinite stocks
  app/solver/data/Job.py
  tests/solver/data/test_Job.py
  tests/solver/test_special.py
Due: tests

update test, update limits
  app/settings.py
  tests/solver/data/test_Job.py
Due: tests

test and implement combination calculation with multiple stocks,add check TODO for #73
  app/solver/data/Job.py
  app/solver/solver.py
  tests/solver/data/test_Job.py
Due: tests

implement FFD solver for multi stocks
  app/solver/solver.py
  app/solver/utils.py
Due: tests

implement gapfill and do minor cleanup on FFD; only multi_m is currently "broken" with less efficient solution
  app/solver/solver.py
  tests/solver/test_solver.py
Due: tests

xfail properly, all tests would be working now
  tests/solver/data/test_Job.py
  tests/solver/test_large.py
  tests/solver/test_multi.py
  tests/solver/test_special.py
Due: tests

v1.1.0
  app/settings.py
Due: tests

skip docs in CI, update upper limit for bruteforce
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix bruteforce not checking every stock sorting, use sorted set for best results to skip duplicates, sort results by biggest trimmings; update and fix tests, add test for #68; update v1.1.1
  app/settings.py
  app/solver/solver.py
  app/solver/utils.py
  tests/res/out/testresult_s.json
  tests/solver/test_large.py
  tests/solver/test_special.py
Due: tests

chore: upgrade runtime to Python 3.13 and update dependencies (closes #80)
  .github/workflows/ci.yml
  Dockerfile
  Pipfile
  app/settings.py
Due: tests

chore(docker): modernize compose, remove version, and wire service_healthy
  docker-compose.yml
Due: none

fix(solver): make offcut selection deterministic and bump to 1.1.3
  .gitignore
  app/settings.py
  app/solver/utils.py
  tag_from_version.py
Due: tests

chore: purge pre-commit, tag script, and modernize CI to Node 24 actions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Pipfile
  tag_from_version.py
Due: tests

docs: update README with deterministic offcut logic and refresh Pipfile.lock for Python 3.13
  Pipfile.lock
  README.md
Due: none

feat: silence healthcheck spam, add API caller telemetry, and bump to v1.1.4
  .github/workflows/ci.yml
  Dockerfile
  app/main.py
  app/settings.py
  tests/test_main.py
Due: git_tag, tests

docs: add CLI usage examples to README and configure application logger
  README.md
  app/main.py
Due: git_tag, tests
