Repository ModischFabrications/CutSolver: changes, and which pre-commit hooks are due for each by the changed paths.
All: git_tag, tests

git_tag:
  name: tag git version
  description: tag git version if it's outdated
  pass_filenames: false
  verbose: true
  entry: python tag_from_version.py
  language: system
  stages:
  - commit

tests:
  name: run tests
  description: Run pytest
  pass_filenames: false
  entry: python -m pytest -sv
  language: system
  stages:
  - push

check versions correctly
  app/main.py
  tag_from_version.py
Due: git_tag, tests

add TODO for new stages
  .pre-commit-config.yaml
Due: none

fix regex test
  tests/test_main.py
Due: git_tag, tests

fix tag regex in travis build
  .travis.yml
Due: none

try python, don't use unsupported hacks (see https://github.com/pre-commit/pre-commit/issues/1412, sorry asottile)
  .pre-commit-config.yaml
Due: none

test new version increase
  app/main.py
Due: git_tag, tests

Revert "try python, don't use unsupported hacks (see https://github.com/pre-commit/pre-commit/issues/1412, sorry asottile)"
  .pre-commit-config.yaml
Due: none

prefix every command with pipenv run
  .pre-commit-config.yaml
Due: none

increase version again, this will hopefully fix #38
  app/main.py
Due: git_tag, tests

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update solver.py
  app/solver/solver.py
Due: tests

enable pytest from root by turning everything into packages
  app/__init__.py
  tests/__init__.py
Due: tests

update all libs and python to 3.9
  Pipfile
  Pipfile.lock
Due: none

Update README.md
  README.md
Due: none

update all libs to their newest version, mark as v0.5.0
  Pipfile
  Pipfile.lock
  README.md
  app/main.py
Due: git_tag, tests

update Dockerfile to py3.9, trim labels, closing #36
  Dockerfile
Due: none

remove old files and configurations, update readme, migrate testing to github actions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  .travis.yml
  README.md
  multi-arch-docker-ci.sh
  requirements.txt
Due: none

fix ci
  .github/workflows/ci.yml
  Pipfile
  Pipfile.lock
Due: none

fix ci (again)
  .github/workflows/ci.yml
Due: none

execute tests within pipenv
  .github/workflows/ci.yml
Due: none

remove benchmark dir, extend readme, add durations check to pytest
  .github/workflows/ci.yml
  README.md
  tests/benchmark/CutSolverBenchmark.py
  tests/benchmark/Cutsolver.jmx
  tests/benchmark/benchmark_results.txt
Due: tests

refine readme more
  README.md
Due: none

fix dockerfile and ci
  .github/workflows/ci.yml
  Dockerfile
Due: none

prepare CI deployment to Docker Hub, add icons
  .github/workflows/ci.yml
Due: none

fix dockerfile with proper healthcheck
  Dockerfile
Due: none

fix ci again
  .github/workflows/ci.yml
Due: none

add arm64 to builds
  .github/workflows/ci.yml
  README.md
Due: none

Path conditions:
  git_tag: any of: main.py and \.py$
  tests: any of: \.py$
